
importFrom("reticulate",
           "py_module_available",
           "py_install",
           "import",
           "py_run_string")

export("installFontTools",

       "ttLib", 
       
       "loadFont",
       "fontFamily", "fontWeight", "fontStyle", "fontUnits",
       "fontGlyphIndex", "fontGlyphName",
       "fontGlyphWidth", "fontGlyphHeight", "fontGlyphBounds")
